*{
  margin: 0;
  overflow: hidden;
}
.main{
  display: flex;
  height: 100vh;
}
span{
  color: #ffffff;
}
#nav{
  margin-left: 1rem;
}
.side{
  width: 12rem;
  /* margin-left: -250px; */
  background-color: #003060;
  height: 100vh;
  box-shadow: 5px 2px 2px #0030606a;
  border: 2px solid rgba(0, 0, 0, 0.473);
  display: flex; 
}
.head{
  background-color:#003060;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 2px 2px #0030606a;
  border: 2px solid rgba(0, 0, 0, 0.473);
  color: #ffffff;
}
.main-content{
  background-color: rgb(255, 255, 255);
  flex: 1;
  overflow: auto;
  margin-top: 6.5rem;
  margin-left: 1rem;
}
form{
  margin-right: 2rem;
}
#btn1{
  padding-right: 15px;
  padding-top: 8px;
}
.menu{
  top: 10rem;
  position: relative;
  width: 100%;
}
.option{
  margin-top: 0.4rem;
  padding: 0.9rem 1.3rem;  
}
.menu i,a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
.side .menu .option:hover{
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);

}
/* Removed empty ruleset for #check */
.btn_one{
  font-size: 1.7rem;
}
.btn_one i:hover{
  font-size: 33px;
  cursor: pointer;
}
@media screen and (max-width: 614px) {
  #btn1{
    font-size: 14px;
    padding-bottom: 1px;
  }
  }
@media screen and (max-width: 614px) {
  .form-control{
    width: 100px;
    height: 33px;
  }    
}
@media screen and (max-width: 953px) {
  .main-content{
    margin-top: 10rem;
  } 
}
@media screen and (max-width: 614px) {
  span{
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 614px) {
  .side{
    width: 11rem;
  }
}
@media screen and (max-width: 614px) {
  .session{
    display: none;
  }
}
#check:checked ~ .side{
  margin-left: 0px;
}
