body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/Dav_college_jalandhar.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.navbar {
  background-color: #003060;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.navbar a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.container {
  text-align: center;
  padding: 20px;
}
.logo {
  float: left;
  margin: 20px 0;
}
.logo img {
  height: 3rem;
  width: 20rem;
}
.buttons {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.button {
  background-color: #e7eced;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 13rem;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: 3px 5px 5px rgb(78, 77, 77);
  height: 13rem;
}
.button img {
  width: 9rem;
}
.button a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}
.button h6{
  margin-top: 0.7rem;
}
.button:hover{
  box-shadow: 10px 8px 8px rgb(0, 0, 0);
  padding: 10px;
}
@media (max-width: 600px) {
  .button {
      width: 15rem;
  }
}
.button h6:hover{
  text-decoration: underline;
  color: blue;
}
